<div id="registro">

    <div class="container bg-light" style="padding-left: 10%; padding-right: 10%; padding-bottom: 3%">
        <h2 class="text-center text-dark pt-3">Inicie sesión</h2>
        <form style="padding-top: 2%;">
            <div class="row">
                <div class="col-6 text-center">

                    <div class="mb-3 row">
                        <label for="staticEmail" class="col-sm-4 col-form-label">Nombre</label>
                        <div class="col-sm-8">
                            <input type="text" class="form-control">
                        </div>
                    </div>
                    <div class="mb-3 row">
                        <label for="inputPassword" class="col-sm-4 col-form-label">Apellido</label>
                        <div class="col-sm-8">
                            <input type="text" class="form-control" id="inputPassword">
                        </div>
                    </div>
                    <div class="mb-3 row">
                        <label for="inputPassword" class="col-sm-4 col-form-label">Telefono</label>
                        <div class="col-sm-8">
                            <input type="number" class="form-control" id="inputPassword">
                        </div>
                    </div>
                </div>

                <div class="col-6 text-center">

                    <div class="mb-3 row">
                        <label for="staticEmail" class="col-sm-4 col-form-label">Email</label>
                        <div class="col-sm-8">
                            <input type="text" class="form-control">
                        </div>
                    </div>
                    <div class="mb-3 row">
                        <label for="inputPassword" class="col-sm-4 col-form-label">Contraseña</label>
                        <div class="col-sm-8">
                            <input type="password" class="form-control" id="inputPassword">
                        </div>
                    </div>
                    <div class="mb-3 row">
                        <label for="inputPassword" class="col-sm-4 col-form-label">Repita contraseña</label>
                        <div class="col-sm-8">
                            <input type="password" class="form-control" id="inputPassword">
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col text-center">
                        <a href="" class="btn btn-lg btn-dark">Registrarse</a>
                    </div>
                </div>
                <div class="row mt-3">
                    <div class="col text-center">
                        <span><b>¿Ya esta registrado?, click  </b></span><a class="login-redirect" href="">Aqui</a><br>
                    </div>
                    <div class="col text-center">
                        <a class="login-redirect" href=""><b>Olvido contraseña</b></a>
                    </div>
                </div>

            </div>
            
        </form>

    </div>

</div>