#login .container {
  margin-top: 50px;
  max-width: 350px;
  height: 300px;
  border: 2px solid #70940c;
  background-color: #b8c8d4;
}

.login-redirect {
  font-size: small;
}
/*minuto 1:39 del video de la clase 7*/
